## 영업소 위치 데이터 전처리 Notebook

### 1. 고속도로 공공데이터 포털에서 데이터 다운로드

> URL :https://data.ex.co.kr/link/linkList?pn=1&linkId=2&serviceType=&keyWord=%EC%9C%84%EC%B9%98&searchDayFrom=undefined&searchDayTo=undefined&CATEGORY=TR&GROUP_TR=&sId=788

### 2. 데이터 전처리

In [73]:
import pandas as pd

In [74]:
df = pd.read_json('./locationinfoUnit.json')
df.head()

,http://data.ex.co.kr:80/link/locationinfoUnit/275,http://data.ex.co.kr:80/link/locationinfoUnit/520,http://data.ex.co.kr:80/link/locationinfoUnit/212,http://data.ex.co.kr:80/link/locationinfoUnit/163,http://data.ex.co.kr:80/link/locationinfoUnit/560,http://data.ex.co.kr:80/link/locationinfoUnit/091,http://data.ex.co.kr:80/link/locationinfoUnit/674,http://data.ex.co.kr:80/link/locationinfoUnit/178,http://data.ex.co.kr:80/link/locationinfoUnit/239,http://data.ex.co.kr:80/link/locationinfoUnit/112,...,http://data.ex.co.kr:80/link/locationinfoUnit/654,http://data.ex.co.kr:80/link/locationinfoUnit/236,http://data.ex.co.kr:80/link/locationinfoUnit/297,http://data.ex.co.kr:80/link/locationinfoUnit/548,http://data.ex.co.kr:80/link/locationinfoUnit/558,http://data.ex.co.kr:80/link/locationinfoUnit/673,http://data.ex.co.kr:80/link/locationinfoUnit/683,http://data.ex.co.kr:80/link/locationinfoUnit/229,http://data.ex.co.kr:80/link/locationinfoUnit/215,http://data.ex.co.kr:80/link/locationinfoUnit/246
http://data.ex.co.kr:80/link/def/routeNo,"[{'type': 'literal', 'value': '010'}]","[{'type': 'literal', 'value': '041'}]","[{'type': 'literal', 'value': '050'}]","[{'type': 'literal', 'value': '025'}]","[{'type': 'literal', 'value': '045'}]","[{'type': 'literal', 'value': '055'}]","[{'type': 'literal', 'value': '400'}]","[{'type': 'literal', 'value': '050'}]","[{'type': 'literal', 'value': '045'}]","[{'type': 'literal', 'value': '001'}]",...,"[{'type': 'literal', 'value': '060'}]","[{'type': 'literal', 'value': '045'}]","[{'type': 'literal', 'value': '040'}]","[{'type': 'literal', 'value': '600'}]","[{'type': 'literal', 'value': '627'}]","[{'type': 'literal', 'value': '400'}]","[{'type': 'literal', 'value': '153'}]","[{'type': 'literal', 'value': '001'}]","[{'type': 'literal', 'value': '050'}]","[{'type': 'literal', 'value': '104'}]"
http://data.ex.co.kr:80/link/def/unitName,"[{'type': 'literal', 'value': '옥곡'}]","[{'type': 'literal', 'value': '평택'}]","[{'type': 'literal', 'value': '북수원'}]","[{'type': 'literal', 'value': '정읍'}]","[{'type': 'literal', 'value': '감곡'}]","[{'type': 'literal', 'value': '대동(개)'}]","[{'type': 'literal', 'value': '동탄'}]","[{'type': 'literal', 'value': '문막'}]","[{'type': 'literal', 'value': '칠원'}]","[{'type': 'literal', 'value': '남청주'}]",...,"[{'type': 'literal', 'value': '설악'}]","[{'type': 'literal', 'value': '영산'}]","[{'type': 'literal', 'value': '동충주'}]","[{'type': 'literal', 'value': '북무안'}]","[{'type': 'literal', 'value': '구례화엄'}]","[{'type': 'literal', 'value': '북오산'}]","[{'type': 'literal', 'value': '송산마도'}]","[{'type': 'literal', 'value': '북천안'}]","[{'type': 'literal', 'value': '군포'}]","[{'type': 'literal', 'value': '가락'}]"
http://data.ex.co.kr:80/link/def/routeName,"[{'type': 'literal', 'value': '남해선A'}]","[{'type': 'literal', 'value': '평택-음성지선'}]","[{'type': 'literal', 'value': '영동선'}]","[{'type': 'literal', 'value': '호남선A'}]","[{'type': 'literal', 'value': '중부내륙선'}]","[{'type': 'literal', 'value': '중앙선'}]","[{'type': 'literal', 'value': '수도권제2순환선'}]","[{'type': 'literal', 'value': '영동선'}]","[{'type': 'literal', 'value': '중부내륙선'}]","[{'type': 'literal', 'value': '경부선'}]",...,"[{'type': 'literal', 'value': '서울춘천선'}]","[{'type': 'literal', 'value': '중부내륙선'}]","[{'type': 'literal', 'value': '평택-음성선'}]","[{'type': 'literal', 'value': '무안광주선'}]","[{'type': 'literal', 'value': '전주-광양선'}]","[{'type': 'literal', 'value': '수도권제2순환선'}]","[{'type': 'literal', 'value': '평택시흥선'}]","[{'type': 'literal', 'value': '경부선'}]","[{'type': 'literal', 'value': '영동선'}]","[{'type': 'literal', 'value': '남해제2지선'}]"
http://data.ex.co.kr:80/link/def/yValue,"[{'type': 'literal', 'value': '34.981608'}]","[{'type': 'literal', 'value': '37.032922'}]","[{'type': 'literal', 'value': '37.325906'}]","[{'type': 'literal', 'value': '35.578209'}]","[{'type': 'literal', 'value': '37.120664'}]","[{'type': 'literal', 'value': '35.255000'}]","[{'type': 'literal', 'value': '37.177288'}]","[{'type': 'literal', 'value': '37.313696'}]","[{'type': 'literal', 'value': '35.279880'}]","[{'type': 'literal', 'value': '36.534413'}]",...,"[{'type': 'literal', 'value': '37.669526'}]","[{'type': 'literal', 'value': '35.451420'}]","[{'type': 'literal', 'value': '0.000000'}]","[{'type': 'literal', 'value': '35.015106'}]","[{'type': 'literal', 'value': '35.255057'}]","[{'type': 'literal', 'value': '37.186826'}]","[{'type': 'literal', 'value': '37.208888'}]","[{'type': 'literal', 'value': '36.898055'}]","[{'type': 'literal', 'value': '37.321897'}]","[{'type': 'literal', 'value': '35.164360'}]"
http://www.w3.org/2000/01/rdf-schema#label,"[{'type': 'literal', 'value': '옥곡'}]","[{'type': 'literal', 'value': '평택'}]","[{'type': 'literal', 'value': '북수원'}]","[{'type': 'literal', 'value': '정읍'}]","[{'type': 'literal', 'value': '감곡'}]","[{'type': 'literal', 'value': '대동(개)'}]","[{'type': 'literal', 'value': '동탄'}]","[{'type': 'literal', 'value': '문막'}]","[{'type': 'literal', 'value': '칠원'}]","[{'type': 'literal', 'value': '남청주'}]",...,"[{'type': 'literal', 'value': '설악'}]","[{'type': 'literal', 'value': '영산'}]","[{'type': 'literal', 'value': '동충주'}]","[{'type': 'literal', 'value': '북무안'}]","[{'type': 'literal', 'value': '구례화엄'}]","[{'type': 'literal', 'value': '북오산'}]","[{'type': 'literal', 'value': '송산마도'}]","[{'type': 'literal', 'value': '북천안'}]","[{'type': 'literal', 'value': '군포'}]","[{'type': 'literal', 'value': '가락'}]"

In [75]:
df = df.transpose()
df.head()

,http://data.ex.co.kr:80/link/def/routeNo,http://data.ex.co.kr:80/link/def/unitName,http://data.ex.co.kr:80/link/def/routeName,http://data.ex.co.kr:80/link/def/yValue,http://www.w3.org/2000/01/rdf-schema#label,http://data.ex.co.kr:80/link/def/xValue
http://data.ex.co.kr:80/link/locationinfoUnit/275,"[{'type': 'literal', 'value': '010'}]","[{'type': 'literal', 'value': '옥곡'}]","[{'type': 'literal', 'value': '남해선A'}]","[{'type': 'literal', 'value': '34.981608'}]","[{'type': 'literal', 'value': '옥곡'}]","[{'type': 'literal', 'value': '127.712381'}]"
http://data.ex.co.kr:80/link/locationinfoUnit/520,"[{'type': 'literal', 'value': '041'}]","[{'type': 'literal', 'value': '평택'}]","[{'type': 'literal', 'value': '평택-음성지선'}]","[{'type': 'literal', 'value': '37.032922'}]","[{'type': 'literal', 'value': '평택'}]","[{'type': 'literal', 'value': '126.977877'}]"
http://data.ex.co.kr:80/link/locationinfoUnit/212,"[{'type': 'literal', 'value': '050'}]","[{'type': 'literal', 'value': '북수원'}]","[{'type': 'literal', 'value': '영동선'}]","[{'type': 'literal', 'value': '37.325906'}]","[{'type': 'literal', 'value': '북수원'}]","[{'type': 'literal', 'value': '126.987401'}]"
http://data.ex.co.kr:80/link/locationinfoUnit/163,"[{'type': 'literal', 'value': '025'}]","[{'type': 'literal', 'value': '정읍'}]","[{'type': 'literal', 'value': '호남선A'}]","[{'type': 'literal', 'value': '35.578209'}]","[{'type': 'literal', 'value': '정읍'}]","[{'type': 'literal', 'value': '126.833648'}]"
http://data.ex.co.kr:80/link/locationinfoUnit/560,"[{'type': 'literal', 'value': '045'}]","[{'type': 'literal', 'value': '감곡'}]","[{'type': 'literal', 'value': '중부내륙선'}]","[{'type': 'literal', 'value': '37.120664'}]","[{'type': 'literal', 'value': '감곡'}]","[{'type': 'literal', 'value': '127.665542'}]"

In [76]:
colums = [
    'route_id',
    'unit_name',
    'route_name',
    'latitude',
    'label',
    'longitude',
]
df.columns = colums
df = df.reset_index()
df = df.drop(columns=['index'])

df_cleaned = df.applymap(lambda x: x[0]["value"] if isinstance(x, list) and len(x) > 0 else None)
df_cleaned['longitude'] = df_cleaned['longitude'].astype(float)
df_cleaned['latitude'] = df_cleaned['latitude'].astype(float)
df_cleaned.head()

C:\Users\wjdeh\AppData\Local\Temp\ipykernel_22752\3419239842.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df.applymap(lambda x: x[0]["value"] if isinstance(x, list) and len(x) > 0 else None)

  route_id unit_name route_name   latitude label   longitude
0      010        옥곡       남해선A  34.981608    옥곡  127.712381
1      041        평택    평택-음성지선  37.032922    평택  126.977877
2      050       북수원        영동선  37.325906   북수원  126.987401
3      025        정읍       호남선A  35.578209    정읍  126.833648
4      045        감곡      중부내륙선  37.120664    감곡  127.665542

In [77]:
print(df_cleaned.isnull().sum())

route_id      0
unit_name     0
route_name    0
latitude      0
label         0
longitude     0
dtype: int64

In [78]:
# latitude가 0인 row 찾기
df_cleaned[df_cleaned['latitude'] == 0]

    route_id unit_name route_name  latitude  label  longitude
58       040     금왕꽃동네     평택-음성선       0.0  금왕꽃동네        0.0
151      104     가락(개)     남해제2지선       0.0  가락(개)        0.0
166      050      덕평복합        영동선       0.0   덕평복합        0.0
177      025       남풍세       호남선A       0.0    남풍세        0.0
182      104       가락2     남해제2지선       0.0    가락2        0.0
374      040       동충주     평택-음성선       0.0    동충주        0.0

### 데이터 입력

In [100]:
from dotenv import dotenv_values

config = dotenv_values(".env")
POSTGRES_USER = config.get('POSTGRES_USER')
POSTGRES_PASSWORD = config.get('POSTGRES_PASSWORD')
POSTGRES_HOST = config.get('POSTGRES_HOST')
POSTGRES_PORT = config.get('POSTGRES_PORT')
POSTGRES_DB = config.get('POSTGRES_DB')

In [ ]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}')
df_cleaned.to_sql(name='unit_location', con=engine, if_exists='replace', index=False)

c:\workspace\projects\traffic_data_engineering\.venv\Lib\site-packages\pandas\io\sql.py:2059: SAWarning: Did not recognize type 'geometry' of column 'geom'
  self.meta.reflect(